<!DOCTYPE html>


<html ng-app="lesson9">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.0/angular-route.min.js"></script>
    <script src="index.js"></script>
    <title>Список продуктов</title>
</head>
<body>
<div class="container" ng-controller="indexController">
    <h3 align="center">Список продуктов</h3>

    <table class="table table-hover" cellpadding="0" cellspacing="0">
        <tr>
            <td><b>Страницы:</b></td>
            <td colspan="2">
                <a class="btn btn-outline-primary" ng-click="loadProducts(0, 30)">показать все</a>
                <a class="btn btn-outline-primary" ng-click="loadProducts(0, 5)">стр.1</a>
                <a class="btn btn-outline-primary" ng-click="loadProducts(1, 5)">стр.2</a>
                <a class="btn btn-outline-primary" ng-click="loadProducts(0, 5)">стр.3</a>
                <a class="btn btn-outline-primary" ng-click="loadProducts(1, 5)">стр.4</a>
            </td>
        </tr>
        <tr>
        <form novalidate ng-submit="loadProducts()">
        <div class="form-floating input-group-sm">
            <input type="text" class="form-control" id="filterTitle" placeholder="Наименование продукта" ng-model="filter.part_title">
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="filterMinPrice" placeholder="Мин. цена" ng-model="filter.min_price">
        </div>
        <p></p>
        <div class="form-floating input-group-sm">
            <input type="number" class="form-control" id="filterMaxPrice" placeholder="Макс. цена" ng-model="filter.max_price">
        </div>
        <p></p>
            <button class="btn btn-outline-warning btn-sm" style="width: 100%;" type="submit">Применить</button>
        </form>
        </tr>
        <tr>
            <td><b>ID</b></td>
            <td><b>Наименование продукта</b></td>
            <td colspan="3" align="center"><b>Стоимость</b></td>
            <td><b>Действие</b></td>
        </tr>
        <tbody>
        <tr ng-repeat="p in ProductsList">
            <td>{{p.id}}</td>
            <td>{{p.title}}</td>
            <td><button class="btn btn-primary" ng-click="updateProduct(p, -5)">-</button></td>
            <td>{{p.price}}</td>
            <td><button class="btn btn-primary" ng-click="updateProduct(p, 5)">+</button></td>
            <td><button class="btn btn-danger" ng-click="deleteProduct(p.id)">Удалить</button></td>
        </tr>
        <tr>
            <td colspan="2"><b><i>Всего продуктов в списке:</i></b></td>
            <td align="left"><b>{{ProductsList.length}}</b></td>
        </tr>
        </tbody>
    </table>
    <h3 align="center">Добавить продукт в список</h3>
    <table class="table table-hover" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td><b>Наименование</b></td>
            <td><b>Цена</b></td>
            <td><b>Действие</b></td>
        </tr>
        <tr>
        </tr>
        <tr>
            <form novalidate ng-submit="addNewProduct()">
                <td><input class="form-control" type="text" ng-model="newProduct.title" id="title" name="title" placeholder="Наименование" required/></td>
                <td><input class="form-control" type="number" ng-model="newProduct.price" id="price" name="price" placeholder="Цена" required/></td>
                <td><button class="btn btn-primary" type="submit" >Добавить в список</button></td>
            </form>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>