<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h2 align="center">Корзина удаленных продуктов</h2>

  <table align="center">
      <tr>
          <td align="center"><b>Номер</b></td>
          <td align="center"><b>Наименование</b></td>
          <td align="center"><b>Цена</b></td>
          <td align="center"><b>Действие</b></td>
      </tr>
      <tr  th:each="p : ${productsInCart}">
          <td th:text="${p.getId()}" />
          <td th:text="${p.getTitle()}"/>
          <td th:text="${p.getCost()}" align="right"/>
          <td align="right"><a th:href="@{'/products/restore/' + ${p.id + p.title + p.cost}}">Восстановить</a></td>
      </tr>
      <tr>
          <td colspan="3"><i>Всего продуктов в корзинее:</i></td>
          <td th:text="${productsInCart.size()}" align="right"></td>
      </tr>
  </table>


  <p align="center"><a th:href="@{'/products/edit'}">Вернуться к редактированию списка продуктов</a></p>
</body>
</html>